@font-face{
    font-family:"Helvetica";
    src:url('../font/Helvetica.ttf');
}
@font-face{
    font-family:"Helvetica Bold";
    src:url('../font/Helvetica-Bold.ttf');
}
.sheet {
    width: 750px;
    height: 1080px;
    color: white;
}
.registrations_left-panel {
    background-size: cover;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #111111;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    /* opacity: 0.5; */
}
.content {
    position: relative;
    padding: 12px;
    z-index: 10;
    height: 100%;
    overflow-y: scroll;
}
.sheet--inverse {
    display: block;
    background-color: transparent;
    position: relative;
}
.logo {
    margin-top: 50px;
    margin-left: 70px;
    width: 35px;
}
.title {
    font-family: Helvetica;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 48px;
    margin-left: 70px;
    margin-top: 350px;
    padding-bottom: 10px;
}
.sub-title {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    margin-left: 70px;
    line-height: 1.35;
}
.credit {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 16px;
    margin-top: 350px;
    margin-left: 70px;
    display: block;
}
.registrations_right-panel {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 120px 8% 20px;
    /* float: right; */
}
.btn {
    margin-top: 15px;
    margin-bottom: 20px;
}
.btn-fb {
    background-color: #4c66a4 !important;
    color: white;
}
.btn-fb:hover {
    background-color: #3C5081 !important;
    color: white;
}
span {
    font-weight: 400;
}
h4 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 46px;
    letter-spacing: 1px;
}
p a {
    color: #999999;
    text-decoration: underline;
}
p a:hover {
    color: black;
}

